h2 {{title}}

.row
  .col-xs-3
    .panel.panel-primary
      .panel-heading
        h3.panel-title Find Local Conditions
      .panel-body
        form(role='form', name='conditionsForm', novalidate, ng-hide='hideConditions')
          .form-group
            label.control-label(for='zip') ZIP
            input.form-control#zip(type='text', name='zip', ng-model='zip', ng-pattern='/^[0-9]{5}$/', required, autofocus)
          button.btn.btn-success(type='submit', ng-show='conditionsForm.$valid', ng-click='getConditions()') Weather Me!
  .col-xs-9
    {{temperature}}
